.faq {
    background-color: black;
    height: 100%;
}

.accordion {
    padding: 1rem;
    text-align: left;
    font-size: 24px;
    cursor: pointer;
}

.card-acc {
    border: none;
}

.card-body-acc {
    color: white;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 300% 300%;
    animation: gradient 5s ease infinite;
}

.acc-toggle {
    background-color: black;
    color: white;
}

@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

@media only screen and (max-width: 786px) {
    .accordion {
        padding: 2rem 0;
        font-size: 16px;
    }
}