.tale {
    height: 100%;
    padding: 3rem 0;
}

.daed-img {
    max-width: 35vmax;
    border-radius: 20px;
}

.para {
    color: white;
    font-size: 1.5rem;
}

#tale{
    line-height: 200%;
    text-align: center;
}